* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: #000000;  /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    width: 0.5em;
  }
  
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 50px;
    scrollbar-width: thin;
    outline: 1px solid black;
  }

/* Name and detail header */

.nameHeaders{
    top:0;
    left:0;
    width:100%;
    position: absolute;
}

.nameHeader {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 5vw;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15vh;
}

#nameHeader .letter{
    display: inline-block;
}

h3{
    color:#fff;
    font-size: 1.5vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: medium;
    text-align: center;
    -webkit-text-stroke-width: 1%;
    -webkit-text-stroke-color: black;
}
/* Saturn Background */
canvas{
    width:99%;
    object-fit: contain;
}

/* Navigation bar */
.navBar{
    position: fixed;
    width: 99%;
    z-index: 1;
}

.navBar a{
    text-decoration: none;
    color: white;
    float:right;
    font-size: 1.5vw;
    padding: 2vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: medium;
    text-align: center;
    -webkit-text-stroke-width: 1%;
    -webkit-text-stroke-color: black;
    
}
.navBar h4{
    float:left;
    font-size: 1.75v;
    padding: 1vh;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.sectionB{
    position: relative;
    background-color: #2C4A9F;
    width:100%;
    height:100vh;
}

.sectionA{
    position: relative;
    background-color: #1C2465;
    width:100%;
    height:100vh;
}