* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: #000000;  /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */

    height: 500vh;
    font-family: Arial, Helvetica, sans-serif;
}

#nameHeader {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 5vw;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding-top:40vh;
}

#nameHeader .letter{
    display: inline-block;
}

h3{
    color:#fff;
    font-size: 1.5vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: medium;
    text-align: center;
    -webkit-text-stroke-width: 1%;
    -webkit-text-stroke-color: black;
}

#bg {
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
canvas{
    width:100%;
    object-fit: contain;
}

#nameHeaders{
    position:relative;
    top:-25%;

}