* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Preloader */
.loader{
    position:fixed;
    z-index: 100;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    transition: opacity 1s, visibility 0.75s;
}

.loader--hidden{
    opacity:0;
    visibility: hidden;
}

.loader::after{
    content:"";
    width: 96px;
    height: 96px;
    background-image: url(./resources/saturnIcon.png);
    animation: loading 1s ease infinite;
}

@keyframes loading {
    from { transform: rotate(0turn)}
    to { transform: rotate(1turn)}
}



body {
    background: #000000;  /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    width: 0.5em;
  }
  
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 50px;
    scrollbar-width: thin;
    outline: 1px solid black;
  }

/* Name and detail header */

.nameHeaders{
    top:0;
    left:0;
    width:100%;
    position: absolute;
}

.nameHeader {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 5vw;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15vh;
    
}

#nameHeader .letter{
    display: inline-block;
}

h3{
    color:#fff;
    font-size: 1.5vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: medium;
    text-align: center;
    -webkit-text-stroke-width: 1%;
    -webkit-text-stroke-color: black;
}
/* Saturn Background */
canvas{
    width:99%;
    object-fit: contain;
}

/* Navigation bar */
.navBar{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navBar a{
    text-decoration: none;
    color: white;
    float:right;
    font-size: 3vw;
    padding: 2vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: medium;
    text-align: center;
    -webkit-text-stroke-width: 1%;
    -webkit-text-stroke-color: black;
}
@media screen and (min-width: 1200px) {
    .navBar a {
       font-size: 20px;
    }
  }
.navBar h4{
    float:left;
    font-size: 3vw;
    padding: 1vh;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
@media screen and (min-width: 1200px) {
    .navBar h4 {
        font-size: 20px;
    }
  }

.sectionB{
    position: relative;
    background-color: #2C4A9F;
    width:100%;
    height:100vh;
}

.sectionA{
    position: relative;
    background-color: #1A191D;
    width:100%;
    bottom: 10%;
    height:100vh;
}

.topicHeader{
    color:#fff;
    font-size: 3vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: medium;
    text-align: center;
    -webkit-text-stroke-width: 1%;
    -webkit-text-stroke-color: black;
    padding: 2vh;
    padding-top: 3vh;
    
}
.skillBox{
    width:33%;
    height:50vh;
    border-width:3px;
    border-style:solid;
    border-color:gray;
    float: right;
    padding: 2vh;
    
}
@media screen and (min-width: 1200px) {
    .skillBox{
        width:25%;
    }
  }

.iconBox{
    width:100%;
    height:30%;
}
.iconBox h3{
    z-index: 1;
    width: 70%;
    font-size: 1.5vw;
    text-align: left;
    float:right;
}
.icon{
    z-index: 1;
    height: 4wh;
    width: 4vw;
}
.underline{
    width:62%;
    position: relative;
    left:30%;
    height:0.25em;
}
.textBox{
    width:100%;
}
.line{
    width: 0.25em;
    height:25vh;
    background-color: darkgray;
}
.text{
    font-family: "Roboto Mono", sans-serif;
    width: 25vw;
    font-weight: 400;
    font-size: 1.5vh;
    color:white;
    padding:1em;
}

@media screen and (min-width: 1200px) {
    .text{
        font-size: 20px;
    }
  }